poetry==2.1.2
numpy~=2.0.2
nbformat~=5.10.4
pandas~=2.2.3
nbconvert~=7.16.4
openml~=0.15.0
torch~=2.6.0
scikit-learn~=1.6.0
fairlib~=2.0.1
keras~=3.8.0
typing_extensions~=4.12.2
overrides~=7.7.0
matplotlib~=3.9.4